<div class="video-bg">
    <img src="/img/background.png" alt="/img/background.png">
</div>
<div class="create-task">
    <button class="btn btn-success"><a href="/user/create-task">+</a></button>
</div>
<div class="dark-light">
    <svg viewBox="0 0 24 24" stroke="currentColor" stroke-width="1.5" fill="none" stroke-linecap="round"
        stroke-linejoin="round">
        <path d="M21 12.79A9 9 0 1111.21 3 7 7 0 0021 12.79z" />
    </svg>
</div>
<div class="app">
    <div class="header">
        <div class="menu-circle"></div>
        <div class="header-menu">
            <a class="menu-link is-active" href="/home">Home</a>
        </div>
        <div class="search-bar">
            <form action="/task/search" method="get">
                <input type="text" placeholder="Search" style="width: 400px;" name="title">
            </form>
        </div>
        <div class="header-profile">
            <div class="notification">
                <span class="notification-number">3</span>
                <svg viewBox="0 0 24 24" fill="currentColor" stroke="currentColor" stroke-width="2"
                    stroke-linecap="round" stroke-linejoin="round" class="feather feather-bell">
                    <path d="M18 8A6 6 0 006 8c0 7-3 9-3 9h18s-3-2-3-9M13.73 21a2 2 0 01-3.46 0" />
                </svg>
            </div>
            <svg viewBox="0 0 512 512" fill="currentColor">
                <path
                    d="M448.773 235.551A135.893 135.893 0 00451 211c0-74.443-60.557-135-135-135-47.52 0-91.567 25.313-115.766 65.537-32.666-10.59-66.182-6.049-93.794 12.979-27.612 19.013-44.092 49.116-45.425 82.031C24.716 253.788 0 290.497 0 331c0 7.031 1.703 13.887 3.006 20.537l.015.015C12.719 400.492 56.034 436 106 436h300c57.891 0 106-47.109 106-105 0-40.942-25.053-77.798-63.227-95.449z" />
            </svg>
            <img class="profile-img" src="{{avatar}}" alt="{{avatar}}">
        </div>
    </div>
    <div class="wrapper">
        <div class="left-side">
            <div class="side-wrapper">
                <div class="mb-3">
                    <span style="color: white; font-size: 14px;">Xin
                        chào,
                        {{fullName}}</span>
                </div>
                <div class="side-title">Resource Links</div>
                <div class="side-menu">
                    <a href="/task/company/company">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-building" viewBox="0 0 16 16">
                            <path
                                d="M4 2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1Zm3 0a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1Zm3.5-.5a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1ZM4 5.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1ZM7.5 5a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1Zm2.5.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1ZM4.5 8a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1Zm2.5.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1Zm3.5-.5a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1Z" />
                            <path
                                d="M2 1a1 1 0 0 1 1-1h10a1 1 0 0 1 1 1v14a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V1Zm11 0H3v14h3v-2.5a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 .5.5V15h3V1Z" />
                        </svg> Company Task
                    </a>
                    <a href="/task/group/group-task">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-people" viewBox="0 0 16 16">
                            <path
                                d="M15 14s1 0 1-1-1-4-5-4-5 3-5 4 1 1 1 1h8Zm-7.978-1A.261.261 0 0 1 7 12.996c.001-.264.167-1.03.76-1.72C8.312 10.629 9.282 10 11 10c1.717 0 2.687.63 3.24 1.276.593.69.758 1.457.76 1.72l-.008.002a.274.274 0 0 1-.014.002H7.022ZM11 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4Zm3-2a3 3 0 1 1-6 0 3 3 0 0 1 6 0ZM6.936 9.28a5.88 5.88 0 0 0-1.23-.247A7.35 7.35 0 0 0 5 9c-4 0-5 3-5 4 0 .667.333 1 1 1h4.216A2.238 2.238 0 0 1 5 13c0-1.01.377-2.042 1.09-2.904.243-.294.526-.569.846-.816ZM4.92 10A5.493 5.493 0 0 0 4 13H1c0-.26.164-1.03.76-1.724.545-.636 1.492-1.256 3.16-1.275ZM1.5 5.5a3 3 0 1 1 6 0 3 3 0 0 1-6 0Zm3-2a2 2 0 1 0 0 4 2 2 0 0 0 0-4Z" />
                        </svg> Group Task
                    </a>
                    {{!-- <a href="#">
                        <svg viewBox="0 0 512 512" fill="currentColor">
                            <path d="M196 151h-75v90h75c24.814 0 45-20.186 45-45s-20.186-45-45-45z" />
                            <path
                                d="M467 0H45C20.186 0 0 20.186 0 45v422c0 24.814 20.186 45 45 45h422c24.814 0 45-20.186 45-45V45c0-24.814-20.186-45-45-45zM196 271h-75v105c0 8.291-6.709 15-15 15s-15-6.709-15-15V136c0-8.291 6.709-15 15-15h90c41.353 0 75 33.647 75 75s-33.647 75-75 75zm210-60c8.291 0 15 6.709 15 15s-6.709 15-15 15h-45v135c0 8.291-6.709 15-15 15s-15-6.709-15-15V241h-15c-8.291 0-15-6.709-15-15s6.709-15 15-15h15v-45c0-24.814 20.186-45 45-45h30c8.291 0 15 6.709 15 15s-6.709 15-15 15h-30c-8.276 0-15 6.724-15 15v45h45z" />
                        </svg> Portfolio
                    </a>
                    <a href="#">
                        <svg viewBox="0 0 512 512" fill="currentColor">
                            <path
                                d="M181 181h-60v60h60c16.54 0 30-13.46 30-30s-13.46-30-30-30zm0 0M181 271h-60v60h60c16.54 0 30-13.46 30-30s-13.46-30-30-30zm0 0M346 241c-19.555 0-36.238 12.54-42.438 30h84.875c-6.199-17.46-22.882-30-42.437-30zm0 0" />
                            <path
                                d="M436 0H75C33.648 0 0 33.648 0 75v362c0 41.352 33.648 75 75 75h361c41.352 0 76-33.648 76-75V75c0-41.352-34.648-75-76-75zM286 151h120v30H286zm-45 150c0 33.09-26.91 60-60 60H91V151h90c33.09 0 60 26.91 60 60 0 18.008-8.133 33.996-20.73 45 12.597 11.004 20.73 26.992 20.73 45zm180 0H303.562c6.196 17.46 22.883 30 42.438 30 16.012 0 30.953-8.629 38.992-22.516l25.957 15.032C397.58 346.629 372.687 361 346 361c-41.352 0-75-33.648-75-75s33.648-75 75-75 75 33.648 75 75zm0 0" />
                        </svg> Behance
                    </a> --}}
                    <a href="/user/logout">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-box-arrow-right" viewBox="0 0 16 16">
                            <path fill-rule="evenodd"
                                d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0v2z" />
                            <path fill-rule="evenodd"
                                d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z" />
                        </svg>Logout
                    </a>
                </div>
            </div>
        </div>
        <div class="main-container">
            <div class="main-header">
                <div class="header-menu">
                    <a class="main-header-link" href="/home">DASHBOARD</a>
                    <a class="main-header-link is-active" href="/task/list-task">TASK</a>
                    <a class="main-header-link" href="/user/my-profile">INFORMATION</a>
                    {{!-- {{#if isPremium}}
                    <span style="color: yellow; position: absolute; right: 0; margin-right: 20px">7 days trial
                        left</span>
                    {{/if}} --}}
                </div>
            </div>
            <div class="content-wrapper">
                {{#if isPremium}}
                <div class="content-wrapper-header">
                    <div class="content-wrapper-context">
                        <div class="content-text">Update Premium to unblock add friend, invite your friend to do task.
                        </div>
                        <button class="content-button"><a href="/payment/payment"
                                style="color: white; text-decoration: none;">Update Premium</a></button>
                    </div>
                    <img class="content-wrapper-img" src="https://assets.codepen.io/3364143/glass.png" alt="">
                </div>
                {{/if}}
                <div class="content-section">
                    <div class="content-section-title">Your Active Task</div>
                    <div class="apps-card">
                        {{#each myTask}}
                        <div class="app-card">

                            <div class="status">
                                <span class="status-circle green"></span>
                                <div>{{title}}</div>
                                <input class="d-none" type="text" name="title" id="title" value="{{title}}">
                                <span style="font-size: 11px; opacity: 0.6;">Day start: {{createdAt}}</span>
                            </div>
                            {{#each description}}
                            <div class="app-card__subtext">
                                <div class="form-check">
                                    <label for="check-task" class="form-check-label">
                                        {{#if isFinish}}
                                        <span class="taskName" style="opacity: 0.1;">{{taskName}}</span>
                                        {{else}}
                                        <span class="taskName">{{taskName}}</span>
                                        {{/if}}
                                    </label>
                                    {{#if isFinish}}
                                    <a href="/task/check-done/{{_id}}" data-id="{{_id}}" class="check-done"
                                        style="color: green; opacity:0.8; pointer-events: none;">
                                        <i class="fa fa-check" aria-hidden="true" style="position: absolute; right: 0;">
                                        </i>
                                    </a>
                                    {{else}}
                                    <a href="/task/check-done/{{_id}}" class="check-done" data-id="{{_id}}"
                                        style="color: white; opacity:0.5;">
                                        <i class="fa fa-check" aria-hidden="true"
                                            style="position: absolute; right: 0; opacity: 0.5">
                                        </i>
                                    </a>
                                    {{/if}}

                                </div>
                            </div>
                            {{/each}}
                            <div class="app-card-buttons">
                                <button class="btn btn-primary"><a href="/user/list-task/{{_id}}"
                                        style="text-decoration: none; color: white">Completed</a></button>
                                <button class="btn btn-success" id="btn_update"><a href="/task/update/{{_id}}"
                                        style="text-decoration: none; color: white">Update</a></button>
                            </div>
                        </div>
                        {{/each}}
                    </div>
                </div>
                <div class="content-section">
                    <div class="content-section-title">
                        Your Completed Task - <a href="/task/hide-task">Show your hide task</a>
                    </div>
                    <div class="apps-card completed" style="opacity: 0.5;">
                        {{#each myCompletedTask}}
                        <div class="app-card">
                            <div class="icon mb-3">
                                <i class="fa fa-angle-left ml-4" aria-hidden="true"></i>
                                <a href="/task/reactive/{{_id}}">
                                    <i class="fa fa-refresh ml-4" aria-hidden="true"></i>
                                </a>
                                <a href="/task/list-task/hide/{{_id}}">
                                    <i class="fa fa-eye-slash ml-4" aria-hidden="true"></i>
                                </a>
                                <a href="/task/list-task/delete/{{_id}}">
                                    <i class="fa fa-trash" aria-hidden="true"></i>
                                </a>
                            </div>
                            <div class="status">
                                <span class="optionTaskCompleted">
                                    <i class="fa fa-angle-down" aria-hidden="true"></i>
                                </span>
                                <span class="status-circle red"></span>
                                {{title}}
                                <span style="font-size: 11px; opacity: 0.6;">{{createdAt}} - {{updatedAt}}</span>
                            </div>
                            {{#each description}}
                            <div class="app-card__subtext ml-2">
                                <i class="fa fa-check" aria-hidden="true"></i>
                                {{taskName}}
                            </div>
                            {{/each}}
                        </div>
                        {{/each}}
                    </div>
                </div>
            </div>
        </div>
        <div class="overlay-app"></div>
    </div>
</div>
<div class="content-section d-none" style="
width: 65%;
margin: auto;
position: absolute;
left: 0;
right: 0;
top:0;
bottom: 0;">
    <div class="app-card-form" style="background-color: rgb(146 151 179/40%);">
        <form action="/task/create-task" method="post" class="form-create-task">
            <div>
                <input type="text" name="title" id="title" placeholder="Enter your Title Task" class="mb-3">
            </div>
            <div class="sub-title">
                <span class="ml-3 mr-1 countInput"></span>
                <input type="text" name="task" id="task" placeholder="Enter your Title Task" class="mb-3">
                <span class="ml-2 add">+</span>
                <span class="ml-2 d-none delete">-</span>


            </div>
            <div>
                <button style="float: right;" class="content-button status-button create-task-button"
                    type="submit">Create</button>
            </div>
        </form>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('.icon').hide()
        $('.optionTaskCompleted').hide()
        $('.app-card').hover(function () {
            var optionTaskCompleted = $(this).children('.status').children('.optionTaskCompleted')
            optionTaskCompleted.show()
            $('.optionTaskCompleted').click(function () {
                var icon = $(this).parent().siblings('.icon')
                icon.show()
                optionTaskCompleted.hide()
            })

        }, function () {
            var optionTaskCompleted = $(this).children('.status').children('.optionTaskCompleted')
            optionTaskCompleted.hide()
            $('.icon').hide()
        })
        $('.fa-angle-left').click(function () {
            $('.icon').hide()
            var optionTaskCompleted = $(this).parent().siblings('.status').children('.optionTaskCompleted')
            optionTaskCompleted.show()
        })
        /*
        $('#btn_update').click(function (event) {
            $('.app').css('opacity', '0.09')
            $('.content-section').removeClass('d-none')
        })
        */
        var input = `<div class="sub-title">
                                <span class="ml-3 mr-1 countInput"></span>
                                <input type="text" name="task" id="task" placeholder="Enter your Title Task"
                                    class="mb-3">
                    
                                <span class="ml-2 d-none delete">-</span>
                            </div>`
        var toast = `<div class="ml-4" style="opacity: 0.5;">Please update to create more task !</div>`
        var i = 1
        $('.add').click(function () {
            $('.form-create-task').children('.sub-title').append(input)
            i = i + 1
            if (i > 3) {
                $('.form-create-task').children('.sub-title').append(toast)
                $('.add').addClass('d-none')
            }
        })

        $('.check-done').click(function (e) {
            let id = $(this).data('id')
            e.preventDefault()
            $(this).attr('style', 'color: green; opacity: 1; pointer-events: none;')
            $(this).siblings().children('.taskName').attr('style', 'opacity: 0.1;')
            $.ajax({
                url: `/task/check-done/${id}`,
                method: 'GET',
                success: function (sc) {
                }
            })
        })
    })
</script>